body{
    background-color: rgb(255, 255, 255);
    color: rgb(32, 32, 32);
    margin: 0;
    user-select: none;
}

html {
    scroll-behavior: smooth;
  }

/*navbar*/

.navbar{
    display: flex;
    justify-content:space-around;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    user-select: none;
}

a{
    color:black;
    text-decoration: none;
}

.navbar-conteiner{
    width: 100%;
    background-color:rgb(247, 246, 246);
    border-bottom: 1px solid black;
    position: sticky;
    top:0;
}

.logo{
    padding: 5px 10px 15px 10px !important;
}

.logo:hover{
    background-color:rgb(247, 246, 246) !important;
}

.logo-shrink{
    display: none;
    margin:auto;
}

.navbar>div{
    padding: 10px;
    min-width: 100px;
    height: 20px;
}

.navbar>div:hover{
    background-color: rgb(238, 238, 235);
    cursor: pointer;
}


/*big-logo*/


.big-logo{
    margin-top: 100px !important;
    margin: auto;
    width: 80%;
    user-select: none;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.big-logo>img{
    width: 100%;
    height: auto;
}

.big-logo>p{
    font-size: 46px;
    text-align: center;    
}


/*modele*/


.modele{
    margin-top: 150px;
    user-select: none;
}

.modele-name{
    margin: auto;
    max-width: 400px;
    font-size: 46px;
    padding: 90px 20px 20px 20px;
    text-align: center;
    font-weight: 600;
}

.modele-content{
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.types{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 26px;
    padding: 20px;
    justify-content: center;
    border-right: 1px solid black;
}

.recordes{
    display: flex;
    flex-wrap:wrap;
    max-width: 1000px;
    justify-content: space-around;
    align-items: center;
}

.cars{
    background-color: brown;
    width: 240px;
    height: 150px;
    margin: 10px;
}

/*serwis*/


.serwis-name{
    margin: auto;
    max-width: 400px;
    font-size: 46px;
    padding: 90px 20px 20px 20px;
    text-align: center;
    font-weight: 600;
    margin-top: 30px;
}

.serwis-content{
    display: flex;
    justify-content: space-around;
}

.serwis-text{
    font-size: 26px;
    text-align: center;
    height: 100px;
    padding: 20px;
    margin-top: 100px;
}

.serwis-input{
    height: 100px;
    padding: 20px;
    text-align: center;
    margin-top: 100px;
}

.serwis-submit{
    text-align: right;
}

/*kontakt*/

.kontakt-name{
    margin: auto;
    max-width: 400px;
    font-size: 46px;
    padding: 90px 20px 20px 20px;
    text-align: center;
    font-weight: 600;
    margin-top: 30px;
}

.kontakt-content{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 100px;
}

.kontakt-text{
    max-width: 600px;
    margin-top: 100px;
}

.kontakt-numer{
    max-width: 400px;
    margin-top: 100px;
    align-self: center;
    border: 1px solid black;
    border-radius: 20px;
}

.kontakt-numer>p{
    padding: 10px;
    margin: 0;
    font-size: 24px;
}

.kontakt-numer>p>img{
    width: 27px;
    height: 27px;
    padding: 0px 3px 0px 0px;
    display: inline-block;
}

ol>li{
    font-weight: 600;
    font-size: 20px;
}

ul>li{
    font-size: 16px;
}

.foot{
    background-color: black;
}

.foot-name{
    color: white;
    float: right;
    margin-right: 20%;
    margin-top: 100px;
    font-size: 30px;
    font-weight: 700;
    padding: 10px;
}

.foot-name>div{
    padding-left: 10px;
    float:left;
}


.foot-name>div>img{
    height: 30px ;
    width: auto;
    padding: 5px 5px 0px 5px;
}

.foot-bot{
    display: flex;
    color:white;
    margin-top: 50px;
}

.foot-bot>div{
    padding: 10px;
}

.burger-menu{
    position: absolute;
    top:20px;
    right: 20px;
}

@media only screen and (max-width: 750px) {
   .logo-shrink{
    display: block;
    width: 200px;
    text-align: center;
    padding: 10px !important;
   }

   .logo-noshrink{
    display: none;
   }

   .big-logo>p{
    font-size: 30px;    
}

.modele-content{
    flex-direction: column;
    margin-top: 20px;
}

.types{
    flex-direction: row;
    font-size: 20px;
    justify-content: center;
    border: 0;
}

.types>div{
    padding: 10px;
}

.serwis-content{
    flex-direction: column;
}

.serwis-text{
    margin-top: 20px;
}

.serwis-input{
    margin-top: 20px;
}


.foot-name{
    margin: auto;
    float: none;
}

.foot-name>div{
    float: left;
}


  }

  
@media only screen and (max-width: 830px) {

    .kontakt-content{
        flex-direction: column;
    }
    .kontakt-text{
        margin-top: 20px;
    
    }
    
    .kontakt-numer{
        margin-top: 20px;
    
    }

    .kontakt-text>ol>ul{
        padding: 0;
    
    }
}

@media only screen and (max-width: 615px) {
}